@import "~bootstrap";
@import "~swiper/src/swiper.scss";
$width-keyboard: 33%;
$bg-default: #2D2C2A;
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /* overflow: hidden; */
  min-height: 100vh;
  background-color: #F6F6F6;
  .bg-header {
    background-color: $bg-default !important;
  }
}

.search {
  padding: 1rem 2rem;
  .form-control-borderless {
    border: none;
  }
  .keyboard {
    width: $width-keyboard;
    padding: 0;
    margin-right: 25px;
    img {
      width: $width-keyboard * 3;
    }
    &:hover {
      background-color: #FEFEAD;
    }
  }
}
.btn-my-red {
  color: black;
  background-color: #FEFEAD;
  -webkit-border-top-left-radius: 150px;
  -webkit-border-bottom-left-radius: 150px;
  -moz-border-radius-topleft: 150px;
  -moz-border-radius-bottomleft: 150px;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
}
.btn-my-red:hover {
  color: white;
  background-color: #FF3828;
}

.card-name {
  position: absolute;
  background-color: #FEFEAD;
  width: 100%;
  opacity: 0.8;
  top: 50px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* custmm bullets style */
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
}
.swiper-pagination-bullet {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color:#000;
  opacity: 1;
  background: rgba(0,0,0,0.2);
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.swiper-pagination-bullet-active {
  color:#fff;
  background: #007aff;
}

/* svg */
.text-muted svg {
  color: #e6c302;
  margin-bottom: 4px;
}
