@import "~bootstrap";
@import "~swiper/src/swiper.scss";
$width-keyboard: 33%;
$bg-default: #2D2C2A;
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /* overflow: hidden; */
  min-height: 100vh;
  background-color: #F6F6F6;
  .bg-header {
    background-color: $bg-default !important;
  }
}

.search {
  padding: 1rem 2rem;
  .form-control-borderless {
    border: none;
  }
  .keyboard {
    width: $width-keyboard;
    padding: 0;
    margin-right: 25px;
    img {
      width: $width-keyboard * 3;
    }
    &:hover {
      background-color: #FEFEAD;
    }
  }
}
.btn-my-red {
  color: black;
  background-color: #FEFEAD;
  -webkit-border-top-left-radius: 150px;
  -webkit-border-bottom-left-radius: 150px;
  -moz-border-radius-topleft: 150px;
  -moz-border-radius-bottomleft: 150px;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
}
.btn-my-red:hover {
  color: white;
  background-color: #FF3828;
}

.card-name {
  position: absolute;
  background-color: #FEFEAD;
  width: 100%;
  opacity: 0.8;
  top: 50px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
  }

}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  &:hover {
    border: 4px dashed;
  }
}

/* svg */
.text-muted svg {
  color: #e6c302;
  margin-bottom: 4px;
}

.error {
  display: none;
  width: fit-content;
  margin: 15px auto;
  color: red;
}
.error.active {
  display: block;
}

.translate {
  display: none;
  width: fit-content;
  margin: 10px auto;
  color: blue;
}
.translate.active {
  display: block;
}
